.c-header {
    display: flex;
    width: 100%;
    align-items: flex-start;
    grid-area: header;
    background-color:dodgerblue;
    color: aliceblue;
    height: auto;
}
.c-header button {
    display: flex;
    background-color:dodgerblue;
    width:10%;
    border: none;
    font-size: 20px;
    font-family: Broadway;
    color: aliceblue;
    margin-top: 8px;
    align-self: flex-start;
}
.c-liens {
    display: flex;
    grid-area: info;
    background-color: dodgerblue;
    justify-items: auto;
    text-decoration: none;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
}
.c-liens a {
    display: flex;
    color: aliceblue;
    align-self: center;
}

.btn {
    display: flex;
    background-color: brown;
    width: 60%;
    align-self: center;
    align-items: center;
    justify-items: end;
    grid-row: 4;
}
.btn button{
    align-self: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: dodgerblue;
    font-size: 15px;
    font-family: "Agency FB";
    color: aliceblue;
    border-color: aliceblue;
}
.c-main{
   display: grid;
   background-color: aliceblue;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 850px;
    align-items: center;
    justify-items: center;
}
.c-main img{
    horiz-align: left;
}
.c-footer {
    display: flex;
    grid-area: footer;
    background-color:dodgerblue;
    height: 50px;
    align-self: flex-end;
    font-family: Bahnschrift;
    align-items: center;
    align-content: center;
    color: aliceblue;
}
.container {
    display: grid;
    grid-template-areas: "header"
    "info"
    "main"
    "btn"
    "footer";
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

